@font-face {
  font-family: "Source Han Sans";
  src: url("http://android_asset/fonts/SourceHanSansSC-Normal.otf") format('opentype');
}

@font-face {
  font-family: "Source Han Serif";
  src: url("http://android_asset/fonts/SourceHanSerifCN-Medium.otf") format('opentype');
}

@font-face {
  font-family: "FZKai-Z03S";
  src: url("http://android_asset/fonts/FZKTJW.ttf") format('truetype');
}
