@font-face {
  font-family: "Ionicons";
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  src: url('../assets/fonts/iconfont.ttf') format('truetype');
}

.Ionicons {
  font-family: "Ionicons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-md-user:before {
  content: "\e600";
}

.ion-md-close3:before {
  content: "\e609";
}

.ion-md-print:before {
  content: "\e607";
}

.ion-md-pwd3:before {
  content: "\e620";
}

.ion-md-login:before {
  content: "\e602";
}

.ion-md-yuyue:before {
  content: "\e603";
}

.ion-md-find2:before {
  content: "\e629";
}

.ion-md-fanhui:before {
  content: "\e633";
}

.ion-md-setup:before {
  content: "\e6d4";
}

.ion-md-disconn:before {
  content: "\e6b4";
}

.ion-md-pwd4:before {
  content: "\e60e";
}

.ion-md-jz2:before {
  content: "\e6fe";
}

.ion-md-shezhi:before {
  content: "\e61f";
}

.ion-md-test2:before {
  content: "\e76e";
}

.ion-md-node-conn:before {
  content: "\e640";
}

.ion-md-test3:before {
  content: "\e62e";
}

.ion-md-key:before {
  content: "\e65b";
}

.ion-md-save:before {
  content: "\e689";
}

.ion-md-sync:before {
  content: "\e6f8";
}

.ion-md-next:before {
  content: "\e85a";
}

.ion-md-fanhui1:before {
  content: "\e661";
}

.ion-md-close:before {
  content: "\e668";
}

.ion-md-warn3:before {
  content: "\e634";
}

.ion-md-mima:before {
  content: "\e622";
}

.ion-md-pp3:before {
  content: "\e619";
}

.ion-md-remember:before {
  content: "\e69e";
}

.ion-md-pwd2:before {
  content: "\e64c";
}

.ion-md-wait2:before {
  content: "\e75e";
}

.ion-md-qianli:before {
  content: "\e604";
}

.ion-md-device2:before {
  content: "\e61b";
}

.ion-md-find:before {
  content: "\e685";
}

.ion-md-pwd:before {
  content: "\e658";
}

.ion-md-key2:before {
  content: "\e61c";
}

.ion-md-scan:before {
  content: "\e632";
}

.ion-md-console:before {
  content: "\e637";
}

.ion-md-key3:before {
  content: "\e6a8";
}

.ion-md-theme:before {
  content: "\e64d";
}

.ion-md-shezhi2:before {
  content: "\e6e2";
}

.ion-md-warn:before {
  content: "\e624";
}

.ion-md-excel:before {
  content: "\e62a";
}

.ion-md-logout:before {
  content: "\e61d";
}

.ion-md-zhuapai3:before {
  content: "\e611";
}

.ion-md-reconn:before {
  content: "\e6b7";
}

.ion-md-idcard:before {
  content: "\e608";
}

.ion-md-pp5:before {
  content: "\e617";
}

.ion-md-save3:before {
  content: "\e60d";
}

.ion-md-network:before {
  content: "\e60a";
}

.ion-md-device:before {
  content: "\e616";
}

.ion-md-close2:before {
  content: "\e7b7";
}

.ion-md-print2:before {
  content: "\e64e";
}

.ion-md-shouzhi:before {
  content: "\e627";
}

.ion-md-idcard2:before {
  content: "\e674";
}

.ion-md-config-ip:before {
  content: "\e725";
}

.ion-md-port:before {
  content: "\e750";
}

.ion-md-queding:before {
  content: "\e60f";
}

.ion-md-tuige:before {
  content: "\e612";
}

.ion-md-newpwd:before {
  content: "\e64b";
}

.ion-md-zhuapai:before {
  content: "\e61e";
}

.ion-md-test:before {
  content: "\e6a7";
}

.ion-md-style2:before {
  content: "\e642";
}

.ion-md-disconn4:before {
  content: "\e623";
}

.ion-md-fangke:before {
  content: "\ea91";
}

.ion-md-style:before {
  content: "\e644";
}

.ion-md-setup2:before {
  content: "\e610";
}

.ion-md-warn2:before {
  content: "\e613";
}

.ion-md-regcode:before {
  content: "\e614";
}

.ion-md-ocr:before {
  content: "\e621";
}

.ion-md-swipe-card:before {
  content: "\e626";
}

.ion-md-disconn3:before {
  content: "\e652";
}

.ion-md-conn:before {
  content: "\e63a";
}

.ion-md-accelerated:before {
  content: "\e62f";
}

.ion-md-shouzhi1:before {
  content: "\e68d";
}

.ion-md-browser:before {
  content: "\e625";
}

.ion-md-jz:before {
  content: "\e69f";
}

.ion-md-code1:before {
  content: "\e63b";
}

.ion-md-pp4:before {
  content: "\e618";
}

.ion-md-checkin2:before {
  content: "\e601";
}

.ion-md-key4:before {
  content: "\e606";
}

.ion-md-fangke1:before {
  content: "\e615";
}

.ion-md-wait:before {
  content: "\e66d";
}

.ion-md-shezhi3:before {
  content: "\e61a";
}

.ion-md-disconn2:before {
  content: "\e60c";
}

.ion-md-pp:before {
  content: "\e628";
}

.ion-md-checkin:before {
  content: "\e605";
}

.ion-md-jiance:before {
  content: "\e641";
}

.ion-md-disconn5:before {
  content: "\e681";
}

.ion-md-offline:before {
  content: "\e62b";
}

.ion-md-test4:before {
  content: "\e63d";
}

.ion-md-pp2:before {
  content: "\e6e9";
}

.ion-md-gpu:before {
  content: "\e630";
}

.ion-md-database:before {
  content: "\e635";
}

.ion-md-checkin3:before {
  content: "\e657";
}

.ion-md-excel2:before {
  content: "\e636";
}

.ion-md-yuyue2:before {
  content: "\e786";
}

.ion-md-jiance2:before {
  content: "\e639";
}

.ion-md-sql:before {
  content: "\e62c";
}

.ion-md-ocr3:before {
  content: "\e62d";
}

.ion-md-zhuapai2:before {
  content: "\e60b";
}

.ion-md-style3:before {
  content: "\e653";
}

.ion-md-nfc:before {
  content: "\e686";
}

.ion-md-checkout:before {
  content: "\e684";
}

.ion-md-ocr2:before {
  content: "\e75f";
}

