page-get-face {
  .field-info b {
    color: #133e86;
    font-weight: bold;
  }
  .btn-area {
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
