<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left class="fix-toolbar-btn">
      <button ion-button (tap)="Back($event)">
        <ion-icon name="fanhui" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>系统设置 - 主题配置</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-scroll>
  <img class="bg-picture" [src]="bgurl | safe: 'url'">

  <div style="width: 100%; height: 100%" padding>
    <fieldset>
      <legend>主题配置</legend>

      <div style="padding: 6px 20px; margin: 0.5rem 1rem;">
        <div class="pre-theme">
          <ion-row style="padding: 0px;">
            <div ion-col *ngFor="let item of globalSvr.backgrounds; index as i;">
              <div *ngIf="i === curTheme; then thenBlock; else elseBlock"></div>
              <ng-template #thenBlock>
                <div (click)="onSetTheme(i)" class="theme-cur">
                  <img style="object-fit: contain" [src]="item | safe: 'url'">
                </div>
              </ng-template>
              <ng-template #elseBlock>
                <div (click)="onSetTheme(i)" class="theme-img">
                  <img style="object-fit: contain" [src]="item | safe: 'url'">
                </div>
              </ng-template>
            </div>
          </ion-row>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="footer">
    <button ion-button icon-start lg2-btn class="mybtn mybtn-rounded mybtn-raised mybtn-royal" (click)="onSave($event)">
      <ion-icon name="save" color="light"></ion-icon>
      保存本页设置
    </button>
  </div>
</ion-content>
